* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

header h1 {
    margin-bottom: -40px;
    font-size: 2rem;
}

body {
    padding: 0 1rem;
}

hr {
    color: #D2D5DA;
    width: 100%;
    margin: 3rem 0;
}

h1, p {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

li {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #4E80EE;
}